.container {
  background-color: white;
  height: 800px;
  width: 100%;
  overflow: hidden;
}

.svg {
  width: 100%;
  margin-bottom: 10rem; // mb-40
}

.text {
  font-size: 6px;
  text-transform: uppercase;
  fill: #455ce9;
}
