@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
