.main {
  overflow: hidden;
}

.spacer {
  height: 400px;
}

.slideContainer {
  position: relative;
}

.slide {
  position: relative;
  display: flex;
  white-space: nowrap;
}

.phrase {
  padding-left: 1.25rem; // px-5
  padding-right: 1.25rem;
  display: flex;
  gap: 1.25rem; // gap-5
  align-items: center;

  p {
    font-size: 7.5vw;
  }

  .imageWrapper {
    position: relative;
    height: 7.5vw;
    aspect-ratio: 4 / 2;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
