.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: bottom;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 270px);
  }

  .slider {
    display: flex;
    white-space: nowrap;
    animation: moveLeft 20s linear infinite;
  }

  .slider p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 150px;
    font-weight: 500;
    padding-right: 50px;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .description {
    position: absolute;
    top: 40%;
    left: 70%;
    color: white;
    font-size: 45px;
    font-weight: 300;
    p {
      margin: 0px;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    svg {
      transform: scale(2);
      margin-bottom: 10px;
    }
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
