.container {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  color: rgb(211, 211, 211);
  background-color: black;
}

.body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.body p {
  font-size: 3.5vw;
  margin: 0px;
  margin-right: 1.5vw;
  font-weight: 700;
}

.body span {
  opacity: 0.2;
}
