@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.hero {
  position: relative;
  width: 100%;
  height: 200vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  background: #fff;
  @media (max-width: 768px) {
    font-size: 40px;
  }

  @media (max-width: 480px) {
    font-size: 26px;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.txt1,
.txt2 {
  // additional styles you might want (like fill, stroke etc)
}
