.container {
  position: relative;

  height: 300vh;

  background-color: rgb(255, 255, 255);
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;

  mask-position: 48.2% 46.4%;
  mask-repeat: no-repeat;
  mask-size: 80%;
  -webkit-mask-position: 48.2% 46.4%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 80%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    pointer-events: none;
  }
}


.stickyMask video {
  height: 100%;

  width: 100%;

  object-fit: cover;
}
