@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

body {
  margin: 0px;
  overflow: hidden;
  cursor: wait;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* iOS momentum */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
